@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    background: #1e293b;
}




.reader {
    height: 270px;
    width: 420px;
    border-radius: 7px;
    background: #334155;
    padding: 30px 30px 35px;
    transition: height 0.2s ease;


}

.reader.active {
    height: 530px;
}

.reader form {
    height: 210px;
    cursor: pointer;
    background: #f8fafc;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    text-align: center;
    transition: height 0.2s ease;
}

.reader.active form {
    height: 225px;
    pointer-events: none;
}


.reader form img {
    display: none;
    max-width: 148px;
}

.reader.active form img {
    display: block;
}

.reader.active form .content {
    display: none;
}

form .content i {
    color: #334155;
    font-size: 55px;
}

form .content p {
    color: #334155;
    margin-top: 15px;
    font-size: 16px;
}


.reader .details {
    opacity: 0;
    pointer-events: none;
    margin-top: 25px;

}

.reader.active .details {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

.details textarea {
    width: 100%;
    height: 128px;
    outline: none;
    color: #f8fafc;
    font-size: 18px;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #838587;
}

.details .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    height: 55px;
    outline: none;
    border: none;
    color: #1e293b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    width: calc(100% / 2 - 10px);
}

/*=================qr-code generator=====================*/

.generator {

    height: 270px;
    width: 420px;
    border-radius: 7px;
    background: #334155;
    padding: 16px 25px;
    transition: height 0.2s ease;


}

.generator.active {
    height: 530px;

}

header h1 {
    font-size: 21px;
    font-weight: 500;
    color: #ccc;
    text-align: center;

}

header p {
    font-size: 16px;
    margin-top: 5px;
    color: #ccc;

}

.generator .form-generator {
    margin: 20px 0 25px;

}

.form-generator :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-generator input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #ccc
}

.form-generator button {
    background: #ccc;
    color: #334155;
    font-size: 17px;
    cursor: pointer;
    margin-top: 20px;
}

.generator .qr-code {
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    padding: 33px 0;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.generator.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}


